@media (max-width: 480px) {

    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 200px 100px 1fr 100px 150px;
        grid-template-areas: "header"
                             "left"
                             "center"
                             "link"
                             "footer";
        
    } 


    
}